<div class="modal-container">
    <h3 mat-dialog-title class="modal-title">Section Details</h3>

    <mat-dialog-content class="modal-body">
      <div>
        <form [formGroup]="sectionForm" class="section-form" style="margin-top: 5px;">
  
          <!-- ID Field (Read-Only) -->
          <mat-form-field *ngIf="mode === 'edit'" appearance="outline" class="form-field" >
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" readonly>
          </mat-form-field>
  
          <!-- Name Field -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
  
          <!-- Description Field -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
  
          <!-- Length Field -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Length</mat-label>
            <input matInput formControlName="length">
          </mat-form-field>
  
          <!-- Speed Limit Fields -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Speed Limit</mat-label>
            <input matInput formControlName="speedLimit">
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Speed Limit Actual</mat-label>
            <input matInput formControlName="speedLimitActual">
          </mat-form-field>
  
          <!-- Start Camera -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Start Camera</mat-label> 
            <mat-select formControlName="startCamera">
              <mat-option *ngFor="let camera of cameras" [value]="camera.id">{{ camera.name }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <!-- End Camera -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>End Camera</mat-label>
            <mat-select formControlName="endCamera">
              <mat-option *ngFor="let camera of cameras" [value]="camera.id">{{ camera.name }}</mat-option>
            </mat-select>
          </mat-form-field>
  
        </form>
      </div>
    </mat-dialog-content>
  
    <!-- Action Buttons -->
    <mat-dialog-actions align="end" class="modal-footer">
      <button mat-button (click)="close()">Close</button>
      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </mat-dialog-actions>
  </div>
  